In [2]:
import pandas as pd
import numpy as np


from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer, make_column_selector
from sklearn.metrics import mean_squared_error, explained_variance_score
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV


from sklearn.linear_model import Ridge, Lasso, ElasticNet, SGDRegressor

%matplotlib inline

In [3]:
# Gathering Data
df = pd.read_csv("insurance.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
# Data Cleaning
# The total rows is 1338 and 7 cloumn
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [5]:
# Checking Missing values
df.isnull().sum()
# there is no missing values

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [6]:
# Spliting the dataset
#805 of the data into the training set and 20% into the testing set
x_train, x_test, y_train, y_test = train_test_split(df.drop(columns=['charges']), df['charges'],
                                                   train_size = 0.8, random_state = 620)
print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)

(1070, 6) (1070,)
(268, 6) (268,)

In [7]:
# Preprocessing

scaler = StandardScaler()
encoder = OneHotEncoder(drop = 'first')
preprocessor = ColumnTransformer([('scaler', scaler, make_column_selector(dtype_include='number')),
                                  ('encoder', encoder, make_column_selector(dtype_include='object'))])

processed_x_train = preprocessor.fit_transform(x_train)
processed_x_test = preprocessor.transform(x_test)